#profile-pic{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.prof-box{
	margin-top: 20px;
	margin-right: 25%;
	margin-left: 25%;
	padding: 10px;
	background-color: white;
	height: 150px;

}

.prof-box h1,p{
	margin-top: 0px;
}

.prof-box h1{
	font-size: 36px;
}

.user-prof-info {
	float: left;
	width: 70%;
}

#prof_form{
	margin-top: 0px;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	background-color: white;
	margin-top: 10px;
	font-family: comic sans ms, comic sans, cursive;
	border-radius: 8px;
	border: none;
}

#prof_form #div_id_pic{
	margin-top: 20px;
}