#reg_form{
	width: 50%;
	background-color: white;
	margin-top: 10px;
	font-family: comic sans ms, comic sans, cursive;
	border-radius: 8px;
}

#button{
	width:20% ;
	margin-left: 40%;
	margin-right: 40%;
}

#button:hover{
	background-color: blue;
}

#reg_form ul{
	list-style-type: square;
}

#reg_form li{
    display: list-item;
    text-align: -webkit-match-parent;
    float: none;
    padding: 0px;
    font-size: 14px;
}

#hint_id_username, #hint_id_password2, #hint_id_password2{
	font-size: 14px;
	margin-top: 0px;
}

input{
	width: 50%;
	border-radius: 5px;
}

label{
	font-weight: bold;
	font-size: 18px;
}

[id^="error"], [class^="alert"] {
	color: red;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
}

#div_id_password1{
	margin-top: 10px;
}