{% load static %}
<!doctype html>
<html>
<head>
	<title>{{ title }}</title>

	<link rel="stylesheet" href="{% static 'css/homestyles.css' %}">
  <link rel="stylesheet" href="{% static 'css/aboutstyles.css' %}">
  <link rel="stylesheet" href="{% static 'css/contactstyles.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Audiowide">
</head>
<body>
	<header>


		<div id="log">
    <ul>
      <li>
    <a href="">Sign Up</a>
      </li>

      <li>
   <a href="">Login</a>
      </li>
    </ul>
  </div>

    
  <div id="top-text">
    <h1 id="title">NutriBucket</h1>
    <p id="subtitle">A Recipe Portal for a healthy you</p>
    </div>


    <nav id="navbar">
    <ul>
      <li>
        <a href="{% url 'recipe-home' %}" style="padding: 0px"><img src="{% static 'img/base_imgs/logo.jpeg' %}" height="50px"></a>
      </li>

      <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Categories</a>
    <div class="dropdown-content">
      <a href="#">Soup</a>
      <a href="#">Starter</a>
      <a href="#">Meal</a>
      <a href="#">Dessert</a>
      <a href="#">Drink</a>
      <a href="#">Bakery</a>
    </div>
  </li>

      <li>
        <a href="{% url 'recipe-home' %}">Home</a>
      </li>

      <li>
        <a href="{% url 'recipe-about' %}">About</a>
      </li>

      <li>
        <a href="{% url 'recipe-contact' %}">Contact</a>
      </li>
    </ul>
      </nav>


	</header>

	<main>
   
   {% block main %}{% endblock %}


  </main>

	<footer>

    <div id="img">
      <img src="{% static 'img/base_imgs/chef1.jpeg' %}" id="img1">
      <img src="{% static 'img/base_imgs/chef2.jpeg' %}" id="img2">
      <img src="{% static 'img/base_imgs/chef3.jpeg' %}" id="img3">
    </div>

      
  </footer>
</body>
</html>