{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'recipe/css/single_recipestyles.css' %}">

</head>
<body>
    <!-- Recipe Name -->
    <h1> {{ object.Recipe_name}} </h1>

    <!-- Image -->
    <div>
    <img src="{{ object.img.url }}" >
   </div>


    <!-- Properties -->
    <span><b> <h2>Time: </h2></b> {{ object.recipe_prep_details.preparation_time }}  
        <b><h2>Servings :</h2></b> {{ object.recipe_prep_details.num_of_servings }}  </span> 
    
    <!-- Nutrients Chart -->


    <!-- Description -->
<h3>{{ object.Recipe_description }} </h3>
   <br>
    <!-- Ingredients -->
    <h2>Ingredients</h2>
    <h3><pre>{{object.recipe_prep_details.ingredients|linebreaks}}</pre></h3>
    <br>
    <!-- Instruction -->
    <h2>Instructions<h2>
    <h3>
    <pre>{{object.recipe_prep_details.instructions}}</pre>
    </h3>

    
</body>
</html> 